@import 'variaveis';

@import 'layout/header';
@import 'layout/slogan';
@import 'layout/tooltip';
@import 'layout/benefits-container';
@import 'layout/step-container';
@import 'layout/buttons';
@import 'layout/parallax';

* {
	margin: 0 auto;
	/*font-family: sans-serif;*/
	font-weight: 400;
	line-height: 26px;
}

main {
	padding-top: 120px
}

h3 {
	font-family: $title-font;
	font-size: 1.4em;
	font-weight: 600;
	color: $feat-gray;
	margin: 20px 0 20px 0;
}

.section_info {
	padding: 60px 60px;
}

a {
	text-decoration: none;
}

p {
	font-family: $body-font;
	font-variant: normal ;
	font-weight: 400 ;
	font-size: 24px ;
	hyphens: auto;
	text-align: justify;
	line-height: 35px;
	color: $feat-gray;
}

.paragrafo:first-letter {
	background-color: $feat-gray;
	float: left;
	color: #FFF;
	font-size: 2em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
}

.step-container, .benefits-container {
	width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// background-color: silver;
}

.step-item p, .benefits-item p {
	font-size: 15px;
	width: 300px;
	text-align: justify;
	hyphens: auto;
	line-height: 30px;	
}

// .text-container {
// 	display: flex;
// 	width: 90%;
// }


// .icon-item {
// 	text-align: center;
// }

// .icon-item img{
// 	width: 100px;
// }


// .text-item p {
// 	font-size: 16px;
// 	width: 300px;
// 	text-align: justify;
// 	hyphens: auto;
// 	line-height: 30px;	
// }

@media (min-width: 768px){

	.paragrafo:first-letter{
		font-size: 2.1em;
	}

}


footer {
	background-color: $feat-gray;
	padding: 20px 0;
	text-align: center;
	color: #fff;
}

