// COLORS
$main-color: #3379BF;
$second-color: #e2444e;
$feat-grey: #494949;
$text: #555;
$border: #ddd;


// FONTS

// $title-font: 'Droid Serif', serif;
// $body-font: 'Lato', sans-serif;
// $parallax-font: 'Lato', serif;

$title-font: 'Open Sans';
$body-font: 'Open Sans';
$parallax-font: 'Open Sans';

// MEDIA-QUERIES

$iPhone: 320px;
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$wide-screen: 1200px;
