$main-color: #3379BF;
$second-color: #e2444e;
$feat-gray: #494949;
$text: #555;

// $title-font: 'Droid Serif', serif;
// $body-font: 'Lato', sans-serif;
// $parallax-font: 'Lato', serif;

$title-font: 'Open Sans';
$body-font: 'Open Sans';
$parallax-font: 'Open Sans';