footer {
	background-color: #729ECA;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media(min-width: $tablet) {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	p {
		color: #fff;
		font-size: 1em;
		text-align: center;
	}	
}

.foot-links {
	margin-bottom: 40px;
		
	@media(min-width: $tablet) {
		display: flex;	
		flex-direction: column;
		margin-left: 100px;
	}
	p {
		font-size: 1.2em;
		text-transform: uppercase;
		margin: 10px 0 10px 0;
		@media(min-width: $tablet) {
			flex-direction: row;
			margin: 10px 20px;		
		}
	}
}

.footer-nav-link {
	text-decoration: none;
	color: #fff;
}


.foot-contact p {
	padding: 0px;
	margin: 0px;
}

.foot-social {
	display: flex;
	justify-content: space-around;
	margin: 30px 0 0 0;

	@media(min-width: $tablet) {
		// flex-direction: row;
		width: 250px;
		align-self: center;
	}

	a {
		margin: 0px;
	}

}

.copy p {
	font-size: 0.75em;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#logo-filter {
	filter: opacity(60%) grayscale(100%);
	display: flex;
	align-items: center;
	flex-direction: column;
}
