footer {
	background-color: #729ECA;
	padding: 10px;
	// height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		
		color: #fff;
		font-size: 1em;
		text-align: center;
	}	
}

.foot-links {
	margin-bottom: 40px;
		
	@media(min-width: $tablet) {
		display: flex;	
	}
	p {
		font-size: 1.2em;
		text-transform: uppercase;
		margin: 10px 0 10px 0;
		@media(min-width: $tablet) {
			flex-direction: row;
			margin: 10px 20px;		
		}
	}
}


.foot-contact p {
	padding: 0px;
	margin: 0px;
}

.foot-social {
	display: flex;
	justify-content: space-around;
	margin: 30px 40px 0 40px;

	@media(min-width: $tablet) {
		// flex-direction: row;
		width: 250px;
		align-self: center;
	}

	a {
		margin: 0px;
	}

}

.copy p{
	font-size: 0.75em;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
