.mainHeader{
	width: 300px;
	height: 60px;
	background-color: #fff;
	border-bottom: solid $main-color;
	padding: 20px 10px;
	position: fixed;
	z-index: 1;
	transition: all .3s;
	
	@media(min-width: $phones){
		width: 100%;
	}
}

.header_fixed {
	/*font-size: 0.7em;*/
	height: 20px;
}

.container-top {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


