
.mainHeader{
	width: 100%;
	padding: 20px 0;
	height: 60px;
	background-color: #fff;
	border-bottom: solid $main-color;
	z-index: 1;
	transition: all .3s;
	position: fixed;
	
	@media(min-width: $tablet){
		// width: 100%;
		padding: 20px 10px;
	}
}

.header_fixed {
	@media(min-width: $tablet){
		height: 30px;
		padding: 20px 10px 40px 10px;
	}
}

.container-top {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon {
	font-size: 1.6em;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;	  
}