.mainHeader{
	height: 60px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid $main-color;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	z-index: 1;
	transition: all .3s;
}

.header_fixed {
	/*font-size: 0.7em;*/
	height: 20px;
}

.container-top {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}


