.mainHeader-nav {
	display: none;
	@media(min-width: $tablets){
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 20px;
	}
}


.mainHeader-nav-link {
	display: none;
	@media(min-width: $tablets){
		padding: 15px;
		color: #494949;
		text-decoration: none;
		transition: .5s;
		display: block;
		text-transform: uppercase;
		font-family: 'Open Sans';
	}
}

@media(min-width: 769px){
	.mainHeader-nav-link:hover {
		color: $main-color;
	}
}

.nav-link-selected {
	border-bottom: 1px solid #494949;
}

main nav {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 2;
}