.header-nav {
	display: none;
	@media(min-width: $tablet){
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 20px;
	}
}


.header-nav-link {
	display: none;
	@media(min-width: $tablet){
		padding: 15px;
		color: #494949;
		text-decoration: none;
		transition: .5s;
		display: block;
		text-transform: uppercase;
		font-family: 'Open Sans';
	}
}

@media(min-width: 769px){
	.header-nav-link:hover {
		color: $main-color;
	}
}

.nav-link-selected {
	border-bottom: 1px solid #494949;
}