.nav-mobile {
    // display: none;
    // transition: height .5s ease-out;
    max-height: 0;
    overflow: hidden;
}

.nav-mobile-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 100%;
    transition: max-height .2s ease-out;
    height: 350px;
    max-height: 350px;
    z-index: 1;
}

.mobile-nav-link {
    color: $feat-grey;
    font-family: $body-font;
    text-decoration: none;
    text-transform: uppercase;
}