.about-container {
    
    p {
        font-size: 16px;
        line-height: 1.7;
    }
}

.about-img {
    display: flex;
    align-items: center;
    flex-direction: column;
        
    @media(min-width: $tablet) {
        flex-direction: row;
    }
    
    img {
        padding: 0 5%;
        width: 100%;
        zoom: 0.35;
        margin: 2.5% 0;
        // margin: 20px 0 30px;
        @media(min-width: $tablet){
            padding: 0;
            margin: 2.5%;
            width: 45%;
        }
    }       
}
