.benefits-item {
	padding: 20px 10px 0 0;
	margin-left: 5%;
	
	@media(width: $tablet){
		flex-grow: 2;
		width: 30%;
	}

	@media(min-width: 375px){
		margin-left: 30px;
	}
	
	h3{
		display: inline-flex;
		font-size: 20px;
		width: 280px;
	}
	
	img {
		width: 30px;
		padding-right: 10px;
		color: $second-color;
	}
}


