.benefits-item {
	padding: 20px 10px 0 0;
	
	@media(min-width: $phone){
		width: 30%;
	}
	
	h3{
		display: inline-flex;
		font-size: 20px;
		width: 280px;
	}
	
	img {
		width: 30px;
		padding-right: 10px;
		color: $second-color;
	}
}


