#btn-contact, #btn-contact-nav {
	text-align: center;
	font-family: Open Sans;
	font-weight: 600;
	background-color: $second-color;
	color: #fff;
	padding: 10px 30px;
	border-radius: 4px;
	border: none;
	transition: background-color .2s;
	outline: none;
	cursor: pointer;
	text-shadow: none;
}

#btn-contact {
	display: block;
	height: 60px;
	font-size: 18px;
	margin: 50px auto 10px;

	&:hover {
		background-color: #E2333D;
	}
}

#btn-contact-nav {
	display: initial;
	height: 45px;
	font-size: 14px;
	margin-left: 100px;

	&:hover {
		background-color: #E2333D;
	}
}
