.mainHeader{
	height: 60px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid $main-color;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	z-index: 1;
	transition: all .3s;
}

.header_fixed {
	/*font-size: 0.7em;*/
	height: 20px;
}

.logo_fixed {
	width: 75px;
	transition: all .3s;
}

.container-top {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}

.logo {
	width: 150px;
	transition: all .3s;
}

.mainHeader-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}


.mainHeader-nav-link {
	padding: 15px;
	color: #494949;
	text-decoration: none;
	transition: .5s;
	display: block;
	text-transform: uppercase;
	font-family: 'Open Sans';
}

@media(min-width: 769px){
	.mainHeader-nav-link:hover {
		color: $main-color;
	}
}

.nav-link-selected {
	border-bottom: 1px solid #494949;
}

main nav {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 2;
}

nav .menu {
	background-color: $main-color;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	height: 50px;
	line-height: 60px;
	text-align: center;
	width: 50px;
}

.nav-itens {
	position: absolute;
	top: -210px;
	right: 6px;
	opacity: 0;
	transition: all .3s;
}

.nav-itens a {
	display: block;
	margin: 10px 0;
	color: #fff;
	background-color: $main-color;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 50px;
}

.nav-show {
	opacity: 1;
}
