.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	img {
		display: none;
		position: absolute;
		left: 50%;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%);
		zoom: 0.65;
	}
}

#parallax-contact {
	img {
		zoom: 0.35;
	}
}

.parallax-container {
	position: relative;
	overflow: hidden;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		font-family: $parallax-font;
		font-weight: 300;
		text-shadow: 2px 2px 20px #000;
		width: 80%;
		/*word-spacing: 3px;*/
		letter-spacing: 4px;
		line-height: 40px;
	}
	@media(min-width: $tablet){
		height: 500px;
		p {
			margin-top: 380px;
			font-size: 2em;
		}
	}

	@media(min-width: $desktop){
		p {
			font-size: 2.5em;
		}
	}
}
