#slogan {

	font-size: 30px;
	width: 280px;
	text-align: center;
	line-height: 100%;
	margin-top: 0;

	@media(min-width: $phone){
		font-size: 35px;
		width: 100%;
	}
	
	@media(min-width: $tablet) {
		font-size: 54px;
		// text-align: center;
		line-height: 100%;
		width: 780px;
		color: $feat-gray;
		// margin-top: 0;
		// padding-top: 0;
		hyphens: auto;
		line-height: 1.25em;
	}
}

.feature {
	color: $main-color;
}

.feat-reverse {
	background-color: $second-color;
	color: white;
}
