.step-item {
	text-align: center;
	
	
	h3 {
		// margin-left: 20px;
	}

	p {
		// margin-left: 10%;
	}

	@media(min-width: $tablet){
		padding: 20px;
	}
}

.step-item img {
	width: 100px;
	// padding-left: 10%;
}

