.step-container {
	width: 90%;
	margin: 0 5%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	// background-color: silver;
	
	@media(min-width: $tablet){
		width: 100%;
		margin: 0;
	}

	p {
		font-size: 15px;
		text-align: justify;
		hyphens: auto;
		line-height: 30px;
		width: 90%;	
		margin: 0 5% 5%;

		@media(min-width: $tablet){
			width: 300px;
		}
	}
}

.step-item {
	text-align: center;
	
	
	h3 {
		// margin-left: 20px;
	}

	p {
		// margin-left: 10%;
	}

	@media(min-width: $tablet){
		padding: 20px;
	}
}

.step-item img {
	width: 100px;
	// padding-left: 10%;
}

