* {
	@media(min-width: $tablets){
		margin: 0 auto;
		/*font-family: sans-serif;*/
		font-weight: 400;
		line-height: 26px;
	}
}

main {
	padding-top: 120px
}

.section_info {
	padding: 5%;
	
	@media(min-width: $phones){
		padding: 10%;
	}
	@media(min-width: $tablets){
		padding: 60px 60px;
	}
}

a {
	text-decoration: none;
}
