* {
	@media(min-width: $tablet){
		margin: 0 auto;
		font-weight: 400;
		line-height: 26px;
	}
}

main {
	@media(min-width: $tablet){
		padding-top: 120px
	}
}

.section_info {
	padding: 5%;
	
	@media(min-width: $phone){
		padding: 10%;
	}
	@media(min-width: $tablet) and (max-width: 1024px ){
		padding: 60px 20px;
		
	}
}
a {
	text-decoration: none;
}