.btn-contact, #btn-contact-nav, #btn-mobile-nav {
	text-align: center;
	font-family: Open Sans;
	font-weight: 600;
	background-color: $second-color;
	color: #fff;
	padding: 10px 30px;
	border-radius: 4px;
	border: none;
	transition: background-color .2s;
	outline: none;
	cursor: pointer;
	text-shadow: none;
}

.btn-contact {
	display: block;
	height: 60px;
	font-size: 18px;
	margin: 20px auto 10px;
	width: 100%;
	
	@media(min-width: $tablet) {
		margin: 50px auto 10px 250px;
		width: 250px;
	}

	@media(min-width: 1024px) {
		margin: 50px auto 10px 400px;
	}

	@media(min-width: $desktop) {
		width: 200px;
	}

	&:hover {
		background-color: $second-color-hover;
	}
}

#btn-contact-nav {
	display: none;
		// display: initial;
		// margin-right: 10px;
	@media(min-width: $phone){
		height: 45px;
		font-size: 14px;
		// margin-left: 100px;
	}
	@media(min-width: $tablet){
		display: inline-block;
	}		
	
	&:hover {
		background-color: $second-color-hover;
	}
}

#btn-mobile-nav {
	display: inline-block;
		// display: initial;
		// margin-right: 10px;
	@media(min-width: $phone){
		height: 45px;
		font-size: 14px;
		// margin-left: 100px;
	}
	@media(min-width: $tablet){
		display: none;
	}		
	
	&:hover {
		background-color: $second-color-hover;
	}
}

