.contact-container {
	display: block;

}

.contact-infos {
	text-align: left;
	@media(min-width: $tablet) {
		width: 80%;
	}
}

.contact-item {
	@media(min-width: $tablet){
		display: block;
		padding: 20px;
		background-color:whitesmoke;
		border: 1px solid $border;
		border-radius: 6px;
		width: 80%;
	}
}

#gform {
    @media(min-width: $tablet){
		padding: 10px;
        width: 100%;
    }
}

.form-group {
	margin-bottom: 20px;
	border:none;
	font-family: $body-font;
}

form {
	label {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: 600;
		color: $feat-grey;
	}

	input {
		height: 40px;
	}

	textarea {
		height: 100px;
	}

	input, textarea {
		display: block;
		width: 95%;
		border-radius: 4px;	
		border: 1px solid $border;
	}
	
	label, input, textarea {
		padding: 0 10px;
		font-size: 17px;
		font-family: $body-font;
	}
}


#contact p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 10px;
}

.contact-info p {
	text-align: left;
}

.feat-reverse {
	background-color: $main-color;
	color: white;
}

.feat-mail {
	color: $main-color;
	text-decoration: underline;
	font-weight: bolder;
}

