.contact-container {
	display: block;

	@media(min-witdh: $desktop){
		display: flex;
	}
}

.contact-infos {
	display: none;

	@media(min-width: $desktop) {
		display: block;
	}
}

.contact-item {
	@media(min-width: $tablet){
		display: block;
		padding: 20px;
		// margin-bottom: 20px;
		background-color:whitesmoke;
		border: 1px solid $border;
		border-radius: 6px;
		width: 355px;
	}
}

#gform {
    @media(min-width: $tablet){
		padding: 10px;
        width: 300px;
        // display: flex;
		// flex-wrap: wrap;
    }
}

.form-group {
	margin-bottom: 20px;
	border:none;
}

form {
	label {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: 600;
		color: $feat-grey;
	}

	input {
		height: 40px;
		// padding: 12px 16px;
	}

	textarea {
		height: 100px;
	}

	input, textarea {
		display: block;
		width: 95%;
		font-size: 17px;
		border-radius: 4px;	
		border: 1px solid $border;
		padding: 0 10px;
	}

	label, input, textarea {
		font-family: $body-font;
	}
}


#contact p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.feat-reverse {
	background-color: $main-color;
	color: white;
}


