.step-container, .benefits-container {
	width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// background-color: silver;
	
	p {
		font-size: 15px;
		width: 300px;
		text-align: justify;
		hyphens: auto;
		line-height: 30px;	
	}
}

