.logo {
	width: 115px;

	@media (min-width: $tablets) {
		width: 150px;
		transition: all .3s;
	}
}

.logo_fixed {
    width: 115px;
    
    @media (min-width: $tablets) {
        width: 75px;
        transition: all .3s;
    }
}

