.logo {
	width: 115px;
    transition: all .3s;

	@media (min-width: $tablet) {
		width: 150px;
	}
}

.logo_fixed {
    width: 85px;
    transition: all .3s;
    
    @media (min-width: $tablet) {
        width: 75px;
    }
}

