h3 {
	font-family: $title-font;
	font-size: 1.4em;
	font-weight: 600;
	color: $feat-gray;
	margin: 20px 0 20px 0;
}

h2.header {
	font-family: $title-font;
	font-weight: 600;
	font-size: 35px;
	color: $feat-gray;
	text-transform: uppercase;
	margin: 20px 0 30px 0;
	text-align: center;
}

p {
	font-family: $body-font;
	font-variant: normal ;
	font-weight: 400 ;
	font-size: 24px ;
	hyphens: auto;
	text-align: justify;
	line-height: 35px;
	color: $feat-gray;
}

.paragrafo:first-letter {
	background-color: $feat-gray;
	float: left;
	color: #FFF;
	font-size: 2em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
}

@media (min-width: 768px){

	.paragrafo:first-letter{
		font-size: 2.1em;
	}

}
