h3 {
	font-family: $title-font;
	font-size: 1.4em;
	font-weight: 600;
	color: $feat-grey;
	margin: 20px 0 20px 0;
}

h2.header {
	font-family: $title-font;
	font-weight: 600;
	font-size: 35px;
	color: $feat-grey;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 15px 0;
	@media(min-width: $tablet) {
		margin: 20px 0 30px 0;
	}
}

p {
	font-family: $body-font;
	font-variant: normal ;
	font-weight: 400 ;
	font-size: 24px ;
	hyphens: auto;
	text-align: justify;
	line-height: 35px;
	color: $feat-grey;
}

.paragrafo:first-letter {
	background-color: $feat-grey;
	float: left;
	color: #FFF;
	font-size: 2em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
	
	@media (min-width: $tablet){
		font-size: 2.1em;
	}
}

#contact p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 25px;
	text-align: center;
}
